<% @list.each do |row| p row %>
<div class="media">
    <!-- 1.画像の配置 -->
    <a class="media-left" href="#">
        <img class="media-object" src="<%= row[:img] %>">
    </a>
    <!-- 2.画像の説明 -->
    <div class="media-body">
        <h4 class="media-heading"><%= row[:title] %></h4>
    </div>
</div>
<% end %>
